{% load static %}

{% load filters %}

<div id="transactions-list">
    <h2>Incomes Recientes</h2>

    <ul>
        {% for income in incomes %}
            <li>
                {{ income.description|capitalize }} {{ income.value|format_value_total }} {{ income.created }} 
                <p>
                    {% if income.category == 'Gasto' %}
                        -
                    {% else %}
                        +
                    {% endif %}
                </p>
                {{income.value|format_value_total}}
            </li>
        {% empty %}
            <li>No hay tareas pendientes.</li>
        {% endfor %}
    </ul>
</div>