{% extends "base/index.html" %}

{% load static %}
{% load filters %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<h1>Dashboard</h1>

<div class="row">
    <div class="col-sm-7">
        <div class="display-center">
            {% include "includes/cardDashboard.html" with title="balance" value=39.80%}
            {% include "includes/cardDashboard.html" with title="Ingresos" value=139.80%}
            {% include "includes/cardDashboard.html" with title="Gastos" value=239.80%}
        </div>
    </div>
    <div class="col-sm-5"></div>
</div>

<a href="{% url "expenses" %}">Agregar Gasto</a> 

<a href="{% url "incomes" %}">Agregar Ingreso</a>

<div>
    {% comment %} <a hx-get="{% url "expenses_list" %}" hx-target="#transactions-list" hx-swap="outerHTML">Expenses</a>
    <a hx-get="{% url "incomes_list" %}" hx-target="#transactions-list" hx-swap="outerHTML">Incomes</a>
    <a hx-get="{% url "transactions_list" %}" hx-target="#transactions-list" hx-swap="outerHTML">All</a> {% endcomment %}
    
    <div id="transactions-list">
        <h2>Transacciones Recientes</h2>
        <ul>
            {% for t in transactions %}
            <li>
                {{t.created}}
                {{t.description|capitalize}}
                <p>
                    {% if t.category == 'Gasto' %}
                        -
                    {% else %}
                        +
                    {% endif %}
                    {{t.value|format_value_total}}
                </p>
                {{t.category}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}