{% load static %}

{% load filters %}

<div id="expenses-list">
    {% for date in dates %}
        {{date|group_datetime}}
        <hr>
        {% for expense in expenses %}
            {% if date == expense.created %}
            <ul>
                <li>
                    {{ expense.description|capitalize }} {{ expense.value|format_value_total }}
                    <p>
                       - {{expense.value|format_value_total}}
                    </p>
                    {% if date|group_datetime == 'Today' %}
                        <button hx-get="{% url "expenses_delete" pk=expense.id %}" hx-target="#expenses-list" hx-swap="outerHTML">Eliminar</button>
                    {% endif %}
                </li>
            </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>