{% load static %}

{% load filters %}

<div id="transactions-list">

    <h2>Expenses Recientes</h2>

    <ul>
        {% for expense in expenses %}
            <li>
                {{ expense.description|capitalize }} {{ expense.value|format_value_total }} {{ expense.created }} 
                <p>
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    {{ expense.category }}
                </p>
            </li>
        {% empty %}
            <li>No hay tareas pendientes.</li>
        {% endfor %}
    </ul>
</div>