{% load static %}

{% load filters %}

<div id="transactions-list">

    <h2>Expenses Recientes</h2>

    <ul>
        {% for expense in expenses %}
            <li>
                {{ expense.description|capitalize }} {{ expense.value|format_value_total }} {{ expense.created }} 
                <p>
                    <p>
                        {% if expense.category == 'Gasto' %}
                            -
                        {% else %}
                            +
                        {% endif %}
                        {{expense.value|format_value_total}}
                    </p>
                </p>
            </li>
        {% empty %}
            <li>No hay gastos registrados.</li>
        {% endfor %}
    </ul>
</div>