{% load static %}

{% load filters %}

<div id="expenses-list">
    {% comment %} {% for date in dates %} {% endcomment %}
        {% comment %} {{date|group_datetime}} {% endcomment %}
        <hr>
        {% for expense in expenses %}
            {% comment %} {% if date == expense.created %} {% endcomment %}
            <ul>
                <li>
                    {{ expense.description|capitalize }}
                    <p>
                       - {{expense.value|format_value_total}}
                    </p>
                    <button hx-get="{% url "expenses_delete" pk=expense.id %}" hx-target="#expenses-list" hx-swap="outerHTML">Eliminar</button>
                    {% if date|group_datetime == 'Today' %}
                    {% endif %}
                </li>
            </ul>
        {% empty %}
            no hay gastos registrados aun.
            {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
    {% comment %} {% endfor %} {% endcomment %}
</div>