{% load static %}
{% load filters %}

<div id="transactions-list">
    <h2>Transacciones Recientes</h2>
    <ul>
        {% for t in transactions %}
        <li>
            {{t.created}}
            {{t.description|capitalize}}
            <p>
                {% if t.category == 'Gasto' %}
                    -
                {% else %}
                    +
                {% endif %}
                {{t.value|format_value_total}}
            </p>
            {{t.category}}
        </li>
        {% endfor %}
    </ul>
</div>