
{% load static %}
{% load filters %}

<div id="passive-list">
    <h2>Passive</h2>

    {% include "patrimonio/passive/category.html" %}

    <div >

        <ul>
            {% for passive in passives %}
                <li>
                    {{ passive.description|capitalize }} {{ passive.value|format_value_total }} {{ passive.created }}
                    {% if passive.is_fijo %}
                    <p>Activo Fijo</p>
                    {% else %}
                        <p>Activo Corriente</p>
                    {% endif %}
                    <p>
                        +{{passive.value|format_value_total}}
                    </p>
                    <a href="{% url "delete_passive" pk=passive.id %}" hx-delete="true" hx-swap="outerHTML">
                        Eliminar
                    </a>
                </li>
            {% empty %}
                <li>Aun no posees activos.</li>
            {% endfor %}
        </ul>
    </div>
</div>